html {
  background: green;
}

#UserProfile,
#UserProfileEdit {
  background: blue;
  border-radius: 25px;
}

#UserCreateProfile {
  background: white;
  border-radius: 25px;
}

#SearchUsers {
  line-height: 30px;
  background-color: orange;
  height: 100%;
  width: 300px;
  padding: 5px;
  float: right;
}

.searchResults {
  background: white;
}

h2 {
  display: inline;
  margin-bottom: 0px;
}

h3 {
  display: inline;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4 {
  display: inline;
  color: yellow;
  margin-bottom: 0px;
  margin-top: 0px;
}

div.profileInfo {
  width: 320px;
  padding: 10px;
  margin: 0;
  display: inline;
}

input.ng-invalid {
  border: 1px solid red;
}

input.ng-valid {
  border: 1px solid green;
}