html {
    background: black;
}



.UserProfile {
    background: blue;
}

h2.name {
    margin-bottom: 0px;
}

h3.name {
    color: white;
    margin-top: 0px;
}

.contact {
    margin-bottom: 0px;
}

.contactInfo {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}




































