html {
  background: green;
}

#UserProfile,
#UserProfileEdit {
  background: blue;
  border-radius: 25px;
}

#UserCreateProfile {
  background: red;
  border-radius: 25px;
}

#SearchUsers {
  line-height: 30px;
  background-color: orange;
  height: 100%;
  width: 300px;
  padding: 5px;
  float: right;
}

h2.profileInfo {
  display: inline;
  margin-bottom: 0px;
}

h3.profileInfo {
  display: inline;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4.profileInfo {
  display: inline;
  color: yellow;
  margin-bottom: 0px;
  margin-top: 0px;
}

.searchResults {
  background: white;
}
