<div id='UserProfileEdit'>
<div ng-show='profileVisibility.showUserEditingProfileView'>
  <h1>User Profile Editor</h1>
  <button ng-click='saveUserEdits()'>Save Changes</button>
  <button ng-click='discardUserEdits()'>Discard Changes</button>
  
  <form name='editProfileForm' novalidate>
    <div>
      <label name='firstName'><h2 class="profileInfo">Name: </h2></label>
      <input type='text'
             name='firstName'
             ng-model='firstName'
             placeholder={{"Bryan"}} />

      <label name='lastName'></label>
      <input type='text'
             name='lastName'
             ng-model='lastName'
             placeholder={{"Klouda"}} />
    </div>

    <label name='contact'><h2 class="profileInfo">Contact: </h2></label>
    <div>    
      <label name='phone'><h3 class="profileInfo">Phone: </h3></label>
      <input type='text'
             name='phoneNumber'
             ng-model='phoneNumber'
             placeholder={{"319-721-7190"}} />
    </div>

    <div>
      <label name='email'><h3 class="profileInfo">Email: </h3></label>
      <input type='email'
             name='email'
             ng-model='email'
             placeholder={{"bryan.klouda@gmail.com"}} />
    </div>
  </form>
</div>
</div>  