<div id='searchOtherUsers'>
  
  <div class='searchMode'>
    <form name='editProfileForm' novalidate>
      <label name='firstName'>First Name: </label>
      <input type='text'
             name='firstName'
             ng-model='firstName'
             placeholder={{"Bryan"}}><br>

      <label name='lastName'>Last Name: </label>
      <input type='text'
             name='lastName'
             ng-model='lastName'
             placeholder={{"Klouda"}}><br>

      <label name='phone'>Phone: </label>
      <input type='text'
             name='phoneNumber'
             ng-model='phoneNumber'
             placeholder={{"319-721-7190"}}><br>

      <label name='email'>Email: </label>
      <input type='email'
             name='email'
             ng-model='email'
             placeholder={{"bryan.klouda@gmail.com"}}>
    </form>
  </div>
  
  <div class='searchResults'>
    Search Results
  </div>
</div>