<div id="UserProfile" ng-controller='userProfileController'>

  <h1>User Profile</h1>
  <table>
    <tr><th>Name:</th></tr>
    <tr>
      <td><div class="profileInfo">First:</div></td>
      <td><div ng-show='showName' ng-model='user.firstName'>{{user.firstName}}</div></td>
    </tr>
    <tr>
      <td><div class="profileInfo">Last:</div></td>
      <td><div ng-show='showName' ng-model='user.lastName'>{{user.lastName}}</div></td>
    </tr>

    <tr><th>Contact:</th></tr>
    <tr>
      <td><div class="profileInfo">Phone:</div></td>
      <td><div ng-show='showContact' ng-model='user.phone'>{{user.phone}}</div></td>
    </tr>
    <tr>
      <td><div class="profileInfo">Email:</div></td>
      <td><div ng-show='showContact' ng-model='user.email'>{{user.email}}</div></td>
    </tr>
    <tr>
      <td><button ng-click='toggleShowName()'>{{showNameButtonText}}</button></td>
      <td><button ng-click='toggleShowContact()'>{{showContactButtonText}}</button></td>
      <td><button ng-click='removeUser(user)'>Delete User</button></td>
      <td><a ui-sref="profile.edit"><button>Edit</button></a></td>
    </tr>
  </table>


</div>