<div id='UserProfileEdit' ng-controller='userEditController'>

  <h1>User Profile Editor</h1>
  <button ng-click='saveUserEdits(user)'>Save Changes</button>
  <button ng-click='discardUserEdits()'>Discard Changes</button>



  <form name='editProfileForm' novalidate>
    <div><h2 class="profileInfo">Name: </h2></div>
    <div><h3 class="profileInfo">First: </h3>
    <input type='text'
    name='firstName'
    ng-model='user.firstName'
    placeholder={{user.firstName}}></div>

    <div><h3 class="profileInfo">Last: </h3>
    <input type='text'
    name='lastName'
    ng-model='user.lastName'
    placeholder={{user.lastName}}></div>


    <div><h2 class="profileInfo">Contact: </h2></div>
    <div><h3 class="profileInfo">Phone: </h3>
    <input type='text'
    name='phone'
    ng-model='user.phone'
    placeholder={{user.phone}}></div>

    <div><h3 class="profileInfo">Email: </h3>
    <input type='email'
    name='email'
    ng-model='user.email'
    placeholder={{user.email}}></div>
  </form>
</div>  