<div id='SearchUsers' ng-controller='userSearchController'>
  
  <div><input type='checkbox'
         ng-checked='showSearchFilters'
         ng-init='showSearchFilters = false'
         ng-model='showSearchFilters'>Show Search Options</div>

  <div ng-show='showSearchFilters'>
    First:
    <input type='text'
           ng-model='firstName'>

    Last:
    <input type='text'
           ng-model='lastName'>

    Phone:
    <input type='text'
           ng-model='phone'>

    Email:
    <input type='text'
           ng-model='email'>
  </div>
  
  <div class='searchResults' ng-repeat='user in users | filter:firstName | filter:lastName | filter:phone | filter:email'>
    <button ng-click='goToProfile(user)'>Get User</button>
    <a>{{user.lastName}}, {{user.firstName}}</a>
  </div>

</div>